<h1><%= 'EDITE EL SIGUIENTE MODELO' %></h1>


<form action="/modeloCarro/editar-modeloCarro?id=<%=modeloCarro.id%>&nmodelo=<%=modeloCarro.nmodelo%>&precio=<%=modeloCarro.precio%>&anio=<%=modeloCarro.anio%>&puertas=<%=modeloCarro.puertas%>" method="post">

    <label for="nmodelo">Nombre del modelo</label>
    <input id="nmodelo" type="text" name="nmodelo" value="<%=modeloCarro.nmodelo%>"><br><br>


    <label for="precio">Precio del modelo</label>
    <input id="precio" type="text" name="precio" value="<%=modeloCarro.precio%>"><br><br>

    <label for="anio">Año de lanzamiento</label>
    <input id="anio" type="text" name="anio" value="<%=modeloCarro.anio%>"><br><br>

    <label for="puertas">Numero de puertas</label>
    <input id="puertas" type="text" name="puertas" value="<%=modeloCarro.puertas%>"><br><br>

    <button type="submit">Editar modelo</button>
</form>
<!-- PARA VOLVER A MODELOS -->
<a href="/modeloCarro/modelosCarro">
    <button>Cancelar edición</button>
</a>