<h1><%= '¿ESTÁ SEGURO QUE QUIERE ELIMINAR EL SIGUIENTE REGISTRO?' %></h1>


<form action="/usuario/eliminar-usuario?id=<%=usuario.id%>&nombre=<%=usuario.nombre%>&apellido=<%=usuario.apellido%>" method="post">

    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" name="nombre" value="<%=usuario.nombre%>" readonly>

    <label for="apellido">Apellido</label>
    <input id="apellido" type="text" name="apellido" value="<%=usuario.apellido%>" readonly>

    <button type="submit">Eliminar</button>

</form>